.features__item__link{
    text-decoration: none;
    color: #242424;

}

.features__item__img:hover {
    transform: scale(1.1);
    transition: all 0.2s linear;
}

h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 20px;
}

.features {
    padding: 2rem;
    background: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}