.card{
    margin-bottom: 40px;
    height: 95%;
     
}
.dot{
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    text-align: center;
}

.cards{
    background: #bbb;
    padding: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
