.card{
    margin-bottom: 40px;
    height: 95%;
     
}
.dot{
    height: 25px;
    width: 25px;
    background-color: rgb(235, 230, 230);
    border-radius: 50%;
    text-align: center;
}

.cards{
    background: #bbb;
    padding: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h4{
    padding-top: 3%;
}
#SignUp2{
    margin-top: 5%;
    background-color: #FFC629;
}

